.container-404 {
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  height: 50%;
  /* flex-wrap: wrap; */
}

.right {
    margin-left: 24px;
    flex-grow: 3;
}

svg {
  width: 100%;
  /* visibility: hidden; */
}

button {
  font-family: "Nunito Sans";
}

.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  /* border-radius: 30px; */
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}
.btn {
  border: 2px solid var(--btn-404-bg-color, #000);
  color: var(--blue);
}
.btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--btn-404-bg-color, #000);
  z-index: -1;
  transition: 0.2s ease;
}
.btn:hover {
  color: var(--white);
  background: var(--btn-404-bg-color, #000);
  transition: 0.2s ease;
}
.btn:hover:before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  .container-404 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
