<div [formGroup]="formgroup">
    <input type="text" title="search form" [placeholder]="placeholder" formControlName="title" class="post-add" />
    <span class="error"
        *ngIf="formgroup.get('title')?.hasError('required') && formgroup.get('title')?.touched && formgroup.get('title')?.invalid">Ce
        champ est requis</span>
    <span class="error" *ngIf="formgroup.get('title')?.hasError('maxlength') && formgroup.get('title')?.invalid">Ce
        champ doit contenir au maximum
        {{formgroup.get('title')?.getError('maxlength')?.requiredLength }} character</span>
    <span class="error" *ngIf="formgroup.get('title')?.hasError('minlength') && formgroup.get('title')?.invalid">Ce
        champ doit contenir au minimum
        {{formgroup.get('title')?.getError('minlength')?.requiredLength }} character</span>

    <input type="text" title="search form" [placeholder]="'Contenu de la publication'" formControlName="content"
        class="post-add" />
    <span class="error"
        *ngIf="formgroup.get('content')?.hasError('required') && formgroup.get('content')?.touched && formgroup.get('content')?.invalid">Ce
        champ est
        requis</span>
</div>

<p> State Error:</p>
<pre>{{formgroup.errors | json}}</pre>
<p> State is valid:</p>
<pre>{{formgroup.valid | json}}</pre>